<body><h1> This is a Code Test </h1>


    Create a small web application that submits a simple form to the backend server. <br />
    Technology used maybe one of:
    <ul>
        <li>Angular 4+ front end posting to a web api backend (preferably .net core but .net framework also accepted)</li>
        <li>MVC application, again preferably .net core but .net framework also accepted</li>
    </ul>
    <br />
    Frontend form fields to be 2 simple text fields e.g. first name, last name
    <br />
    Backend to receive posted data as an object and save posted object to simple file in json format.
    <br />
    Made by Ada Chang at 2020-01-18

    </body>