<h1>Employee Data</h1>

<p>This component demonstrates fetching Employee data from the server.</p>

<p *ngIf="!empList"><em>Loading...</em></p>

<p>
    <a [routerLink]="['/register-employee']">Create New</a>
</p>

<table class='table' *ngIf="empList">
    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>First Name</th>
            <th>Last Name</th>
       
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of empList">
            <td>{{ emp.EmployeeId }}</td>
            <td>{{ emp.FirstName }}</td>
            <td>{{ emp.LastName }}</td>
          
            <td>
                <a [routerLink]="['/employee/edit/', emp.EmployeeId]">Edit</a> |
                <a [routerLink]="" (click)="delete(emp.EmployeeId)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>