<h1>{{title}}</h1>
<h3>Employee</h3>
<hr />

<form [formGroup]="employeeForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>

    <div class="form-group row">
        <label class=" control-label col-md-12">First Name</label>
        <div class="col-md-4">
            <input class="form-control" type="text" formControlName="firstName">
        </div>
        <span class="text-danger" *ngIf="firstName?.invalid && formDir.submitted">
           First Name is required.
        </span>
    </div>
    <div class="form-group row">
    <label class=" control-label col-md-12">Last Name</label>
    <div class="col-md-4">
        <input class="form-control" type="text" formControlName="lastName">
    </div>
    <span class="text-danger" *ngIf="lastName?.invalid && formDir.submitted">
        Last Name is required.
    </span>
    </div>
    <hr />
    <div class="form-group">
        <button type="submit" class=" btn btn-primary">Save</button>
        <button class="btn btn-danger" (click)="cancel()">Cancel</button>
    </div>
</form>